<h1>All events</h1>

<% @events.each do |event| %>
  <hr>
  <h2><%= link_to event.name, event_path(event.id) %></h2>
  <p>Id: <%= event.id %></p>
  <p>Location: <%= event.location %></p>
  <p>Time: <%= event.time %></p>
<% end %>
